{% extends 'web/base.html' %}
{% load static %}
{% load web_extras %}
{% block content %}
    <div class="row">
      <div class="col-md-4">
            <h2>{{ curso.nombre }}</h2>
            <p>{{ curso.detalle }}</p>
      </div>
      <div class="col-md-1"></div> 
      <div class="col-md-4">
            <img id="imagen-curso" src="{{ curso.imagen }}" alt="{{curso.nombre}}">
      </div>
      <div class="col-md-3"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
        <a href="{% url 'inscripcion-curso' curso.pk %}"><button type="button" class="btn btn-primary btn-lg btn-block">Inscribirme</button></a>
        <a href="{% url 'contacto' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Consultar</button></a>
        </div>
    </div>
    <hr>
      <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                <button type="button" class="btn btn-lg btn-btn-light" disabled>Horarios:</button>
                {% for turno, horario in curso.TURNOS %}
                    <button type="button" class="btn btn-lg btn-light" disabled>{{turno}}</button>
                {% endfor %}
            </p>
        </div>
      </div>
      <script>
      {% autoescape off %}
        {% process_course_image_path_script %}
      {% endautoescape %}
      </script>
{% endblock %}