{% extends 'web/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-md-4">
            <h2>{{curso.nombre}}</h2>
            <p>Donec dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. 
            Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="{% url 'detalle-curso' curso.pk %}" role="button">Detalle</a></p>
      </div>
      <div class="col-md-1"></div> 
      <div class="col-md-4">
            <img src="{% static 'web/python-django.jpeg' %}" alt="curso python django">
      </div>
      <div class="col-md-3"></div>
    </div>
      <div class="row">
        <div class="col-md-4">
            <h3>Turnos</h3>
            <ul class="list-group">
            {% for turno, horario in curso.TURNOS %}
                <li class="list-group-item">{{turno}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-4"> adsads</div>
        <div class="col-md-4">asdasd</div>
      </div>
{% endblock %}